MAIL="example@gmail.com"
PASSWORD="YOUR-PASSWORD-HERE"
ITEM_URL="https://www.amazon.de/dp/B08H98GVK8/?coliid=IXR2HTZNU1BZD&colid=1YCVLVNOCJNAZ&psc=0&ref_=lv_ov_lig_dp_it"
SHOP_URL="https://www.amazon.de/"
CART_URL="https://www.amazon.de/gp/cart/view.html?ref_=nav_cart"
MAX_PRICE=500
MIN_DELAY=2
MAX_DELAY=4
RUNS_BEFORE_AGENT_SWITCH=100